@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ff8f00 !important;
}
.bg-success {
  background-color: #f8333c !important;
}
.bg-info {
  background-color: #2b9eb3 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #dbd5b5 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ff8f00 !important;
  border-color: #ff8f00 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #ff8f00 !important;
  border-color: #ff8f00 !important;
}
.btn-primary:before {
  background-color: #b36400 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b36400 !important;
  border-color: #b36400 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #44af69 !important;
  border-color: #44af69 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #44af69 !important;
  border-color: #44af69 !important;
}
.btn-secondary:before {
  background-color: #2f7848 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2f7848 !important;
  border-color: #2f7848 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #2b9eb3 !important;
  border-color: #2b9eb3 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #2b9eb3 !important;
  border-color: #2b9eb3 !important;
}
.btn-info:before {
  background-color: #1c6875 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1c6875 !important;
  border-color: #1c6875 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f8333c !important;
  border-color: #f8333c !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #f8333c !important;
  border-color: #f8333c !important;
}
.btn-success:before {
  background-color: #d70711 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d70711 !important;
  border-color: #d70711 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #dbd5b5 !important;
  border-color: #dbd5b5 !important;
  color: #625a2f !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #625a2f !important;
  background-color: #dbd5b5 !important;
  border-color: #dbd5b5 !important;
}
.btn-danger:before {
  background-color: #c2b882 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #625a2f !important;
  background-color: #c2b882 !important;
  border-color: #c2b882 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #995600;
  color: #995600;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #ff8f00;
}
.btn-primary-outline:before {
  background-color: #ff8f00;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8f00 !important;
  border-color: #ff8f00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #27663d;
  color: #27663d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #44af69;
}
.btn-secondary-outline:before {
  background-color: #44af69;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #44af69 !important;
  border-color: #44af69 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #175561;
  color: #175561;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #2b9eb3;
}
.btn-info-outline:before {
  background-color: #2b9eb3;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2b9eb3 !important;
  border-color: #2b9eb3 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #be070f;
  color: #be070f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #f8333c;
}
.btn-success-outline:before {
  background-color: #f8333c;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f8333c !important;
  border-color: #f8333c !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #baae70;
  color: #baae70;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #625a2f;
  border-color: #dbd5b5;
}
.btn-danger-outline:before {
  background-color: #dbd5b5;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #dbd5b5 !important;
  border-color: #dbd5b5 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
  border-radius: 100px;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff8f00;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #ff8f00 !important;
}
.text-secondary {
  color: #44af69 !important;
}
.text-success {
  color: #f8333c !important;
}
.text-info {
  color: #2b9eb3 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #dbd5b5 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #995600 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #27663d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #be070f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #175561 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #baae70 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2b9eb3;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #dbd5b5;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff8f00;
  border-color: #ff8f00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ff8f00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffe9cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff8f9;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #7ed1e0;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ff8f00;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ff8f00;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ff8f00;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ff8f00;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ff8f00;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
/* Content */
.content11 .counter-container div .counter {
  background: #ff8f00;
}
.content11 .counter-container div .counter {
  border-radius: 50%;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.display-7 {
  font-weight: 300;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-r96y8YY9Dl .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-r96y8YY9Dl .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-r96y8YY9Dl a {
  font-style: normal;
}
.cid-r96y8YY9Dl .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-r96y8YY9Dl .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0 .65rem !important;
}
.cid-r96y8YY9Dl .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: scale(0, 1);
}
.cid-r96y8YY9Dl .content-text {
  margin-bottom: 0;
}
.cid-r96y8YY9Dl .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
}
@media (min-width: 992px) {
  .cid-r96y8YY9Dl .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #ff8f00;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-r96y8YY9Dl .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-r96y8YY9Dl .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-r96y8YY9Dl .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-r96y8YY9Dl .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-r96y8YY9Dl .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-r96y8YY9Dl .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-r96y8YY9Dl .navbar-buttons.mbr-section-btn {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-r96y8YY9Dl .nav-dropdown .link {
  font-weight: 400;
}
.cid-r96y8YY9Dl .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-r96y8YY9Dl .content-right-side {
  text-align: center;
}
.cid-r96y8YY9Dl .menu-content-top {
  display: none;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
.cid-r96y8YY9Dl .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-r96y8YY9Dl .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-r96y8YY9Dl .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-r96y8YY9Dl .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid #e0e0e0;
}
.cid-r96y8YY9Dl .menu-content-right {
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r96y8YY9Dl .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-r96y8YY9Dl .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-r96y8YY9Dl .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-r96y8YY9Dl .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-r96y8YY9Dl .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-r96y8YY9Dl .menu-bottom {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
@media (min-width: 992px) {
  .cid-r96y8YY9Dl .navbar .menu-content-top {
    display: -webkit-flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-r96y8YY9Dl .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: -webkit-flex;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
  }
  .cid-r96y8YY9Dl .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-r96y8YY9Dl .navbar {
    display: block;
    padding: 0;
  }
  .cid-r96y8YY9Dl .navbar .menu-logo {
    margin-right: auto;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }
  .cid-r96y8YY9Dl .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: -webkit-flex;
    align-items: center;
    z-index: 101;
    -webkit-align-items: center;
    min-height: 49px;
  }
  .cid-r96y8YY9Dl .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-r96y8YY9Dl .navbar-toggler {
    display: none;
  }
  .cid-r96y8YY9Dl .navbar-collapse {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-r96y8YY9Dl .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-r96y8YY9Dl .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r96y8YY9Dl .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-r96y8YY9Dl .menu-logo {
  margin-right: auto;
}
.cid-r96y8YY9Dl .menu-logo .navbar-brand {
  display: -webkit-flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r96y8YY9Dl .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-r96y8YY9Dl .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-r96y8YY9Dl .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-r96y8YY9Dl .menu-logo .navbar-brand .navbar-logo img {
  display: -webkit-flex;
}
.cid-r96y8YY9Dl .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-r96y8YY9Dl .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-r96y8YY9Dl .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-r96y8YY9Dl .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-r96y8YY9Dl .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-r96y8YY9Dl .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-r96y8YY9Dl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-r96y8YY9Dl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-r96y8YY9Dl .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
}
.cid-r96y8YY9Dl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-r96y8YY9Dl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: scale(1, 1);
}
.cid-r96y8YY9Dl .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-r96y8YY9Dl .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-r96y8YY9Dl .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-r96y8YY9Dl .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-r96y8YY9Dl .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-r96y8YY9Dl .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-r96y8YY9Dl .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-r96y8YY9Dl .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-r96y8YY9Dl button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  align-self: center;
  -webkit-align-self: center;
}
.cid-r96y8YY9Dl button.navbar-toggler:focus {
  outline: none;
}
.cid-r96y8YY9Dl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-r96y8YY9Dl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-r96y8YY9Dl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-r96y8YY9Dl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-r96y8YY9Dl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-r96y8YY9Dl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r96y8YY9Dl nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-r96y8YY9Dl nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-r96y8YY9Dl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r96y8YY9Dl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-r96y8YY9Dl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-r96y8YY9Dl .collapsed .btn {
  display: -webkit-flex;
}
.cid-r96y8YY9Dl .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-r96y8YY9Dl .collapsed .navbar-collapse.collapsing,
.cid-r96y8YY9Dl .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-r96y8YY9Dl .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-r96y8YY9Dl .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-r96y8YY9Dl .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-r96y8YY9Dl .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-r96y8YY9Dl .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-r96y8YY9Dl .collapsed .navbar-collapse.show .navbar-buttons {
  display: -webkit-flex;
  justify-content: center;
  text-align: center;
  -webkit-justify-content: center;
}
.cid-r96y8YY9Dl .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-r96y8YY9Dl .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-r96y8YY9Dl .collapsed button.navbar-toggler {
  display: block;
}
.cid-r96y8YY9Dl .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-r96y8YY9Dl .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-r96y8YY9Dl .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-r96y8YY9Dl .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-r96y8YY9Dl .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-r96y8YY9Dl .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-r96y8YY9Dl .collapsed .menu-bottom {
  flex-direction: column-reverse;
  justify-content: center;
  -webkit-flex-direction: column-reverse;
  -webkit-justify-content: center;
}
@media (max-width: 991px) {
  .cid-r96y8YY9Dl .menu-bottom {
    flex-direction: column-reverse;
    justify-content: center;
    -webkit-flex-direction: column-reverse;
    -webkit-justify-content: center;
  }
  .cid-r96y8YY9Dl img {
    height: 3.8rem !important;
  }
  .cid-r96y8YY9Dl .btn {
    display: -webkit-flex;
  }
  .cid-r96y8YY9Dl button.navbar-toggler {
    display: block;
  }
  .cid-r96y8YY9Dl .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-r96y8YY9Dl .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-r96y8YY9Dl .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-r96y8YY9Dl .navbar-collapse.collapsing,
  .cid-r96y8YY9Dl .navbar-collapse.show {
    display: block !important;
  }
  .cid-r96y8YY9Dl .navbar-collapse.collapsing .navbar-nav,
  .cid-r96y8YY9Dl .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-r96y8YY9Dl .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-r96y8YY9Dl .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-r96y8YY9Dl .navbar-collapse.collapsing .navbar-buttons,
  .cid-r96y8YY9Dl .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-r96y8YY9Dl .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-r96y8YY9Dl .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-r96y8YY9Dl .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-r96y8YY9Dl .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-r96y8YY9Dl .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-r96y8YY9Dl .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-r96y8YY9Dl .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-r96y8YY9Dl .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-r96y8YY9Dl .navbar-dropdown {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}
.cid-r96y8YY9Dl .navbar-collapse {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-r96y8YY9Dl .nav-link:focus {
  outline: none;
}
.cid-r96y8YY9Dl .navbar-toggler {
  position: relative;
}
.cid-r96y8YY9Dl .dropdown-item.active,
.cid-r96y8YY9Dl .dropdown-item:active {
  background: #ffffff;
  color: initial;
}
.cid-r96y8YY9Dl .nav-link:hover,
.cid-r96y8YY9Dl .dropdown-item:hover {
  color: #4284df;
}
.cid-r9aCMZqDv3 .modal-body .close {
  background: #1b1b1b;
}
.cid-r9aCMZqDv3 .modal-body .close span {
  font-style: normal;
}
.cid-r9aCMZqDv3 .carousel-inner > .active,
.cid-r9aCMZqDv3 .carousel-inner > .next,
.cid-r9aCMZqDv3 .carousel-inner > .prev {
  display: table;
}
.cid-r9aCMZqDv3 .carousel-control .icon-next,
.cid-r9aCMZqDv3 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-r9aCMZqDv3 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-r9aCMZqDv3 .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-r9aCMZqDv3 .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-r9aCMZqDv3 .boxed-slider > div {
  position: relative;
}
.cid-r9aCMZqDv3 .container img {
  width: 100%;
}
.cid-r9aCMZqDv3 .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-r9aCMZqDv3 .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-r9aCMZqDv3 .mbr-table-cell {
  padding: 0;
}
.cid-r9aCMZqDv3 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-r9aCMZqDv3 .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-r9aCMZqDv3 .mbr-overlay {
  z-index: 1;
}
.cid-r9aCMZqDv3 .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-r9aCMZqDv3 .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-r9aCMZqDv3 .carousel-item .container {
    width: 100%;
  }
}
.cid-r9aCMZqDv3 .carousel-item-next.carousel-item-left,
.cid-r9aCMZqDv3 .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-r9aCMZqDv3 .active.carousel-item-right,
.cid-r9aCMZqDv3 .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-r9aCMZqDv3 .active.carousel-item-left,
.cid-r9aCMZqDv3 .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-r9aCMZqDv3 .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-indicators li.active,
.cid-r9aCMZqDv3 .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-indicators li::after,
.cid-r9aCMZqDv3 .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-r9aCMZqDv3 .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-r9aCMZqDv3 .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-r9aCMZqDv3 .mbr-slider > .container img {
  width: 100%;
}
.cid-r9aCMZqDv3 .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-r9aCMZqDv3 .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-r9aCMZqDv3 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-r9aCMZqDv3 .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-r9aCMZqDv3 .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-r9aCMZqDv3 .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-r9aCMZqDv3 .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-r9aCMZqDv3 .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-r9aCMZqDv3 .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-r9aCMZqDv3 .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-r9aCMZqDv3 .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-r9aCMZqDv3 .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-r9aCMZqDv3 .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-r96yjXcOQE {
  padding-top: 160px;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-r96yjXcOQE .container {
  margin-bottom: 15%;
}
.cid-r96yjXcOQE .content-container .btn-bgr {
  z-index: 0;
}
.cid-r96yjXcOQE .container-boxes {
  padding-bottom: 90px;
  position: relative;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #ffffff;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: stretch;
}
.cid-r96yjXcOQE .box-item {
  width: 29%;
  padding: 2.5rem;
}
.cid-r96yjXcOQE .box-item:first-child {
  background-color: #2b9eb3;
  margin-top: -200px;
}
.cid-r96yjXcOQE .box-item:nth-child(2) {
  background-color: #44af69;
}
.cid-r96yjXcOQE .box-item:last-child {
  background-color: #dbd5b5;
}
.cid-r96yjXcOQE .box-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.cid-r96yjXcOQE .box-list li {
  border-bottom: 1px solid;
  padding: 10px 0 5px;
}
.cid-r96yjXcOQE .box-list li:last-child {
  border-bottom: none;
}
.cid-r96yjXcOQE .box-list li span {
  float: right;
  text-align: right;
  padding-left: 0.5rem;
}
.cid-r96yjXcOQE .media-content {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
@media (min-width: 992px) {
  .cid-r96yjXcOQE .media-container-row {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .cid-r96yjXcOQE .box-item {
    margin-top: -200px;
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .cid-r96yjXcOQE .content-container {
    -webkit-flex-basis: 90%;
    flex-basis: 90%;
  }
  .cid-r96yjXcOQE .box-item {
    margin-top: 0;
    width: 90%;
  }
  .cid-r96yjXcOQE .box-item:first-child {
    margin-top: -100px;
  }
}
.cid-r96yjXcOQE B {
  color: #2c1616;
}
.cid-r96DSsX0RW {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-r96DSsX0RW .column-content {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #ffffff;
  width: 100%;
  float: right;
  position: relative;
}
.cid-r96DSsX0RW .text-content .btn-bgr {
  z-index: 0;
}
.cid-r96DSsX0RW .mbr-overlay {
  background: linear-gradient(#d6173f -10%, #00113e 75%);
}
.cid-r96DSsX0RW .container-full-width {
  position: relative;
}
.cid-r96DSsX0RW .text-content {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.cid-r96DSsX0RW .layer {
  display: none;
  height: 101%;
  position: absolute;
  right: 49.9%;
  top: 0;
  bottom: 0;
}
.cid-r96DSsX0RW .layer path {
  fill: #ffffff;
}
@media (min-width: 576px) {
  .cid-r96DSsX0RW .text-content {
    width: 540px;
  }
  .cid-r96DSsX0RW .column-content {
    width: 100%;
  }
  .cid-r96DSsX0RW .layer {
    display: none;
  }
}
@media (min-width: 768px) {
  .cid-r96DSsX0RW .text-content {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .cid-r96DSsX0RW .text-content {
    width: 480px;
    margin: 0;
  }
  .cid-r96DSsX0RW .column-content {
    width: 50%;
  }
  .cid-r96DSsX0RW .layer {
    display: block;
  }
}
@media (min-width: 1200px) {
  .cid-r96DSsX0RW .text-content {
    width: 570px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-r96DSsX0RW .container-full-width .layer {
    right: 2.6rem;
    height: 33rem;
  }
  .cid-r96DSsX0RW .column-content {
    height: 33rem;
  }
}
.cid-r96DSsX0RW B {
  color: #ff8f00;
}
.cid-r96EX6VaEW {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-r96EX6VaEW a {
  color: #232323;
}
.cid-r96EX6VaEW a:hover {
  color: #ff8f00;
}
.cid-r96EX6VaEW h5 {
  color: #4e6dcc;
}
.cid-r96EX6VaEW .card-img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.cid-r96EX6VaEW .img-icon {
  width: auto;
  max-width: 500px;
  max-height: 500px;
  left: 0;
  position: absolute;
}
@media (min-width: 992px) {
  .cid-r96EX6VaEW .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-r96EX6VaEW B {
  color: #ff8f00;
}
.cid-r96NZRtzzb {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-r96NZRtzzb .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-r96NZRtzzb .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-r96NZRtzzb .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-r96NZRtzzb .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-r96NZRtzzb .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-r96NZRtzzb .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-r96NZRtzzb .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-r96NZRtzzb .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-r96NZRtzzb .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-r96NZRtzzb ul {
  font-size: 0;
}
.cid-r96NZRtzzb .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #4284df;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s;
}
.cid-r96NZRtzzb .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-bottom: 2px #4284df solid;
  border-radius: 0 !important;
}
.cid-r96NZRtzzb .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-r96JmP8t8K {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-r96JmP8t8K .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-r96JmP8t8K .input {
  margin-bottom: 15px;
}
.cid-r96JmP8t8K .map {
  width: 100%;
  height: 30rem;
}
.cid-r96JmP8t8K .map iframe {
  width: inherit;
  height: 100%;
}
.cid-r96JmP8t8K .icon-block {
  margin-bottom: 10px;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r96JmP8t8K .icon-block .icon-block__icon {
  display: inline-block;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-r96JmP8t8K .icon-block .icon-block__title {
  display: inline-block;
  align-self: center;
  -webkit-align-self: center;
  margin-bottom: 0;
  line-height: 1;
  font-style: italic;
}
.cid-r96JmP8t8K .mbr-text {
  color: #767676;
}
.cid-r96JmP8t8K a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-r96JmP8t8K .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-r96JmP8t8K .input-group-btn {
  display: block;
  text-align: center;
}
.cid-r96JmP8t8K .block .form-control {
  padding: 1.07em 1.07em;
}
.cid-r96JmP8t8K .google-map {
  height: 25rem;
  position: relative;
}
.cid-r96JmP8t8K .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-r96JmP8t8K .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-r96JmP8t8K .google-map[data-state] {
  background: #e9e5dc;
}
.cid-r96JmP8t8K .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 767px) {
  .cid-r96JmP8t8K h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-r96JmP8t8K .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-r96JmP8t8K .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-r96JmP8t8K .google-map {
    padding-bottom: 2rem;
  }
}
.cid-r96KuFUMvK {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #44af69;
}
.cid-r96KuFUMvK p {
  text-align: center;
}
.cid-r96KuFUMvK .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-r96KuFUMvK .btn-underline:hover {
  color: #505050;
}
.cid-r96KuFUMvK .btn-underline:before {
  background-color: #505050;
}
.cid-r96KuFUMvK .social-list a:focus {
  text-decoration: none;
}
.cid-r96KuFUMvK .text-copyright {
  width: 100%;
}
.cid-r96KuFUMvK .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-r96KuFUMvK .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-r96KuFUMvK .logo-footer {
  line-height: normal;
}
.cid-r96KuFUMvK .copyright {
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r96KuFUMvK .social-btns {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-r96KuFUMvK .mbr-section-btn {
  font-size: 16px;
}
.cid-r96KuFUMvK .mbr-section-btn a {
  margin: 0 1rem 0.5rem;
}
